<div id="arena">
</div>
<script type="text/javascript">
  var config = {
    type: Phaser.AUTO,
    width: 900,
    height: 600,
    physics: {
      default: 'arcade',
      arcade: {
        gravity: { y: 300 },
        debug: false
      }
    },
    scene: {
      preload: preload,
      create: create,
      update: update
    }
  };

  var game = new Phaser.Game(config);
  var player1;
  var player2;



  function preload ()
  {
    this.load.image('stage', '<%= image_path('chikara-temple.jpg')%>');
    this.load.atlas('p1punch', '<%= image_path('p1punch.png')%>', '<%= asset_path('p1punch.json')%>');
    this.load.atlas('p1kick', '<%= image_path('p1kick.png')%>', '<%= asset_path('p1kick.json')%>');
    this.load.atlas('p1front', '<%= image_path('p1front.png')%>', '<%= asset_path('p1front.json')%>');
    this.load.atlas('p1back', '<%= image_path('p1back.png')%>', '<%= asset_path('p1back.json')%>');
  }


  function create ()
  {

    this.add.image(450,300, 'stage').setScale(.25, .2);
    player1 = this.add.sprite(100,480, 'p1punch', 'p1punch/01.png').setScale(.3);


    this.anims.create(
    {
      key: 'p1punch',
      frames: this.anims.generateFrameNames('p1punch', {
        prefix: 'p1punch/',
        suffix: '.png',
        start: 1,
        end: 10,
        zeroPad: 2
      }),
      framerate: 2,
      repeat: 0
    });

    this.anims.create(
    {
      key: 'p1kick',
      frames: this.anims.generateFrameNames('p1kick', {
        prefix: 'p1kick/',
        suffix: '.png',
        start: 1,
        end: 9,
        zeroPad: 2
      }),
      framerate: 1,
      repeat: 0
    });

    this.anims.create(
    {
      key: 'p1front',
      frames: this.anims.generateFrameNames('p1front', {
        prefix: 'p1front/',
        suffix: '.png',
        start: 1,
        end: 9,
        zeroPad: 2
      }),
      framerate: 1,
      repeat: 0
    });

    this.anims.create(
    {
      key: 'p1back',
      frames: this.anims.generateFrameNames('p1back', {
        prefix: 'p1back/',
        suffix: '.png',
        start: 1,
        end: 9,
        zeroPad: 2
      }),
      framerate: 1,
      repeat: 0
    });

  }


  function update ()
  {

    keys = this.input.keyboard.addKeys('D, C');
    cursors = this.input.keyboard.createCursorKeys();


    if (cursors.right.isDown) {
      player1.setVelocityY(-160);
      player1.anims.play('p1front');
    }else if (cursors.left.isDown){
      player1.setVelocity(160);
      player1.anims.play('p1back');
    }else if (keys.D.isDown){
      player1.anims.play('p1punch');
    }else if(keys.C.isDown){
      player1.anims.play('p1kick')
    }else {

    };




  }
</script>
